<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<insert id="save" >
	insert into MEM(email, name, pass, CREATED_DATE)
	values (#{email},#{name},#{pass},sysdate)
	</insert>
	
	
	<select id="search" resultType="String" >
	select name
	from MEM
	where email = #{email} 
	</select>
	
	<select id="log" resultType="int" >
	select  count(*)
	from MEM
	where email = #{email} and pass = #{pass} 
	
	</select>
	
	<delete id="remove" >
	delete from MEM
	where email = #{email}
	
	</delete>
	
</mapper>